<div id="newUser" class= "container">

<h1>New User Form</h1>

<%= form_for @user, html: {class: "form-group col-lg-8" } do |u|  %>

<form role="form">

<p>
    <%= u.label :name, "Name" %><br />
    <%= u.text_field :name, class: "form-control", placeholder: "Name" %>
</p>    

<p>
<%= u.label :location, "Location" %>
<%= u.text_field :location, class: "form-control", placeholder: "Location" %>
</p>

<p>
<%= u.label :interest, "Interest" %>
<%= u.text_field :interest, class: "form-control", placeholder: "Interest" %>
</p>

<p>
<%= u.label :skill, "Skill" %>
<%= u.text_field :skill, class: "form-control", placeholder: "Skill" %>
</p>

<p>
<%= u.label :teach, "Teach" %>
<%= u.text_field :teach, class: "form-control", placeholder: "Teach" %>
</p>

<p>
<%= u.label :learn, "Learn" %>
<%= u.text_field :learn, class: "form-control", placeholder: "Learn" %>
</p>

<p>
<%= u.label :email, "Email" %>
<%= u.text_field :email, class: "form-control", placeholder: "Email" %>
</p>

<p>
<%= u.label :password, "Password" %>
<%= u.text_field :password, type: "password", class: "form-control", placeholder: "Password" %>
</p>

<p>
	<%= u.label :password_confirmation, "Confirm Password" %>
	<%= u.text_field :password_confirmation, type: "password", class: "form-control", placeholder: "Confirm Password" %>
</p>

<p>
<%= u.submit "sign up" %>
</p>

<% end %>

<p>
User id: <%= session[:user_id] %>
</p>

</div>